<%- include('includes/head.ejs') %> <!--setting %- causes that it render html instead of pasting as text (%=)-->
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <h1>Page Not Found!</h1>
<%- include('includes/end.ejs') %>