<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css"></link>
    <link rel="stylesheet" href="/css/users.css"></link>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/" class="active">Shop</a>
                </li>
                <li class="main-header__item">
                    <a href="/users">Add product</a>
                </li> 
            </ul>
        </nav>
    </header>
    <main>
        <h1>Users:</h1>
        <ul class="main-list">
            <li class="main__item">
                User 1
            </li>
            <li class="main__item">
                User 2
            </li> 
        </ul>
    </main>
</body>
</html>