.form-control label,
.form-control input {
    width: 100%;
    display: block;
}
.form-control input {
    border: 1px solid #dbc441;
    font: inherit; 
    border-radius: 2px;
}
button {
    font: inherit;
    border: 1px solid #6200ff;
    color: #6200ff;
    cursor: pointer;
    background: white;
    border-radius: 3px;
}
button:hover,
button:active {
    background-color: #6200ff;
    color: white;
}
.form-control {
    margin: 1rem 0 ;
}
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}