<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shope</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Shop</a>
                </li>
                <li>
                    <a href="/add-product">Add product</a>
                </li> 
            </ul>
        </nav>
    </header>
    <main>
        <h1>My products</h1>
        <p>LIST OF ALL THE PRODUCTS</p>
    </main>
</body>
</html>